body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#hero-title{
    font-family: "Caveat", serif;
    font-size: 4rem;
    color: #ffff;
}
#hero-text{
    font-family: sans-serif;
    font-size: 2rem;
    color: #ffff;
}
.hero-img{
  height: 330px;
  width: 45%;
  border-radius: 5px;
}
.cloud-top{
 margin-left:50%;
 position: relative;

}
.cloud-bottom{
  position: absolute;
  margin-right: 50%;
  margin-top: -10%;
  
}
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  /* profile section */
.profile-img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid grey;
}
.profile-container{
  margin-top: 10%;
 text-align: center;
}
.profile-title{
  font-family: "Roboto", serif;
font-size: 3rem;
font-weight: 100;
color: #493D9E;
}
.profile-text{
  font-family: "Noto Serif Hentaigana", serif;
  font-size: 20px;
  width: 45%;
  margin-left: 27%;
  margin-right: 27%;
  justify-content: space-between;
  color: #5a655b;
}
/* skill section */
.skill{
  margin-top: 10%;
}
.skill-title{
  font-family: "Roboto", serif;
  font-size: 3rem;
  font-weight: 100;
  color: #493D9E;
  text-align: center;
}
.skill-container{
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #F2EFE7;
  border-radius: 5px;
}
.item-title{
  font-family: "Roboto", serif;
  font-size: 2rem;
  font-weight: 100;
  color: #493D9E;
}
.item-text{
  font-family: "Roboto", serif;
  font-size: 20px;
  font-weight: 100;
  color: rgb(90, 101, 91);
}
/* contact us */
.contact{
  margin-top: 10%;
  text-align: center;
}
.contact-title{
  font-family: "Roboto", serif;
font-size: 3rem;
font-weight: 100;
color: #493D9E;
}
.contact-sub-title{
  font-family: "Roboto", serif;
font-size: 1.5rem;
font-weight: 100;
color: rgb(90, 101, 91);
margin-bottom: 5%;
}
.contact-btn{
  margin-top: 10%;
  background-color: orangered;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.footer{
  margin-top: 10%;
  text-align: center;
  padding: 50px 0 20px;
 
  
}
.footer-item{
  font-family: "Roboto", serif;
  color: white;
  margin-right: 5px;
  text-decoration: none;
  font-size: 20px;
}
.copyright{
  font-family: "Roboto", serif;
  text-align: center;
  color: white;
  margin-bottom: 0;
  font-size: 20px;
  padding: 10px;
}



@media(max-width:426px){
    #hero-title{
        font-size: 3rem;
       
    }
    #hero-text{
        font-size: 1.5rem;
        
    }
    .hero-img{
      height: 200px;
      width: 80%;
      border-radius: 5px;
    }
    .cloud-top{
      height: 24px;
      width: 75px;
    }
    .cloud-bottom{
      height: 24px;
      width: 75px;
      margin-top: -35%;
    }
    .profile-img{
      height: 100px;
      width: 100px;
    }
    .profile-container{
     margin-top: 20%;
     text-align: center;
    }
    .profile-title{
    font-size: 2rem;
    }
    .profile-text{
      font-size: 16px;
    }
    .skill{
      margin-top: 30%;
    }
    .skill-title{
      font-size: 2rem;
      }
    .contact{
      margin-top: 30%;
    }
    .contact-title{
    
    font-size: 2rem;
    
    }
    .contact-sub-title{ 
    font-size: 20px;
    margin-bottom: 10%;
    }
    .footer{
      margin-top: 30%;
    }
    .copyright{
      font-size: 16px;
    }
    .footer-item{
      font-size: 16px;
      margin-right: 10%;
    }


    .skill-container{
      display: grid;
      grid-template-rows: 300px;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      width: 100%;
    }
    .item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;


    }
    .item-title{
      
      font-size: 1.5rem;
     
    }
    .item-text{
     
      font-size: 16px;
    
    }
    .skill-container{
      display: grid;
      grid-template-rows: 200px 200px 200px;
      grid-template-columns: 1fr;
      gap: 1rem;
    }
}